// $theme-colors: (
//   "primary": #8E5FA8,
//   "secondary": #9d6700,
//   "success": #006f00,
//   "danger": #d20000,
//   "warning": #fbfb00
// );
$blue: #0E5EA7;
$primary: #2DCA73;
$spacer: 1.5rem;
$navbar-dark-color: #67DFF9;

@import 'node_modules/bootstrap/scss/bootstrap'

// @import '../../node_modules/bootstrap/scss/bootstrap.scss';